/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #ff1654;
  --ifm-color-primary-dark: #ff1654;
  --ifm-color-primary-darker: #ff1654;
  --ifm-color-primary-darkest: #ff1654;
  --ifm-color-primary-light: #df1349;
  --ifm-color-primary-lighter: #b90f3c;
  --ifm-color-primary-lightest: #900b2e;
  --docusaurus-highlighted-code-line-bg: rgb(255, 22, 84);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff1654;
  --ifm-color-primary-dark: #ff1654;
  --ifm-color-primary-darker: #ff1654;
  --ifm-color-primary-darkest: #ff1654;
  --ifm-color-primary-light: #df1349;
  --ifm-color-primary-lighter: #b90f3c;
  --ifm-color-primary-lightest: #900b2e;
  --docusaurus-highlighted-code-line-bg: rgb(255, 22, 84);
}